{% extends 'base.html.twig' %}

{% block title %}Infos personnelles{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-info ">
    <div class="navbar-brand text-white"><h3>Bienvenue au musée du Louvre</h3></div>
  </nav>
  <div class="container mt-5 p-3">
    <div class="container-info text-center">
      <div>Vous souhaitez acheter votre billet en ligne</div>
      <div>Merci de renseigner votre identité</div>
      <hr/>
    </div>
    <form method="post" action="{{ path('validateVisitor') }}">
      <div class="fields mt-3 ">

        <h3 class="title-visitor">Visiteur </h3>
        <div class=" line-item-property__last_name form-group  mb-3 ml-3 mr-3">
          <label class="control-label required" for="last_name">Nom</label>
          <input id="last_name" type="text" name="last_name[]" class="form-control">
        </div>
        <div class=" line-item-property__first_name form-group  mb-3 ml-3 mr-3">
          <label class="control-label required" for="first_name">Prénom</label>
          <input id="first_name" type="text" name="first_name[]" class="form-control">
        </div>
        <div class="line-item-property__country form-group  mb-3 ml-3 mr-3">
          <label class="control-label required" for="visitor_country">pays</label>
          <div class="">
            <select id="visitor_country" type="text" name="country[]" class="form-control">
              <option value="france">France</option>
              <option value="allemagne">Allemagne</option>
              <option value="espagne">Espagne</option>
              <option value="grande-bretagne">Grande-Bretagne</option>
              <option value="etatsUnis">États Unis</option>
              <option value="chine">Chine</option>
            </select>
          </div>
        </div>
        <div class="line-item-property__bithdate form-group  mb-3 ml-3 mr-3">
          <label class="control-label required" for="visitor_bithdate">Date de naissance</label>
          <input type="text" name="bithdate[]" class="js-datepicker1 form-control" autocomplete="off" id="visitor_bithdate"/>
        </div>
        <div class="line-item-property__name form-group  mb-3 ml-3 mr-3">
          <label class="control-label required">Type de billet</label>
          <select type="text" name="name[]" class="form-control">
            <option value="journée">journée</option>
            <option value="demiJournée">demi-journée</option>
          </select>
        </div>
        <div class="line-item-property__email form-group  mb-3 ml-3 mr-3">
          <label class="control-label required">Adresse mail</label>
          <input id="email" type="email" name="email[]" class="form-control"/>
        </div>
        <div class="line-item-property__type form-group  mb-3 ml-3 mr-3">
          <label class="control-label required">Vous bénéficiez du tarif</label>
          <input type="text" name="type[]" value="" class="form-control disabled-input" id="billet_type"/>
        </div>
        <div class="line-item-property__price form-group  mb-3 ml-3 mr-3">
          <label class="control-label required">Votre tarif</label>
          <input type="text" name="price[]" value="" class="form-control disabled-input" id="tarif_price"/>
        </div>
        <div class="line-item-property__visit_date form-group mb-3 ml-3 mr-3">
          <label class="control-label required">Votre date de visite</label>
          <input id="visit_date" type="text" name="visit_date[]" class="js-datepicker2 form-control" autocomplete="off"/>
        </div>
        <div class="line-item-property__is_half form-group  mb-3 ml-3 mr-3">
          <label class="control-label required">Tarif réduit (Il sera
            nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de
            l’entrée)</label>
          <input type="checkbox" name="is_half" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <button id="btnAdd" class="btn btn-primary" type="button">Ajouter un visiteur</button>
        <button id="btnDel" class="btn btn-danger" type="button">Supprimer</button>
        <button class="btn btn-success" type="submit">Valider</button>
      </div>
    </form>
  </div>
  <footer>
    <div class="bas">
      <div class="container-fluid  text-center  mt-2">
        {% block footer %}{% endblock %}
        <div class="footer-copyright text-white  ">
          © 2018 Copyright:
          <a> Anne Gasté </a>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

