@import "../../node_modules/bootstrap/scss/bootstrap";

$color_head: #fff;

body{
  background: #B0413E;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;


}
.global-container{
  background:white;
  width: 30%;
  margin: 15%;
  margin-left: 35%;

  }

.wallpaper {
  background-image: url("../image/louvre.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.bas {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.container-info{

}