 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="public/css/responsive-table.css" rel="stylesheet"/>
        <link href="public/css/style.css" rel="stylesheet"/>

        <title>{% block title %}Le Louvre{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="wallpaper">
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
