{% extends "base.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Bienvenue au Musée du Louvre</title>
{% endblock %}

{% block body %}
    <div class="global-container">
<div class="container">
<h1>Bienvenue au Musée du Louvre</h1>
</div>
    <div class="container">
        <h2>Commander vos billets en ligne</h2>
    </div>
    <div class="container ">

        <form action="" method="post">

            <div class="mb-3">
                <label for="date">Date de réservation souhaitée</label>
                <input type="date" id="date" name="date" class="form-control"/>
            </div>
            <h4>Visiteur n°1</h4>
            <div>
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control">
            </div>
            <div>
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" class="form-control">
            </div>
            <div>
                <label for="bithday">date de naissance</label>
                <input type="date" id="birthday" name="birthday" class="form-control">
            </div>
            <div>
                <label for="country">pays</label>
                <input type="" id="country" name="country" class="form-control">
            </div>
            <br>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>

        </form>
    </div>

    <div>

{% endblock %}